## Jinja2 Template
## Jinja2 is a method where you can configure multiple stuff with different
## value for each device. Like using a loop in a method.


## Global Configuration
ntp server {{ ntp.server1 }}

## Host Configuration
hostname {{ hostname.name }}